body {
	  text-align: center;
    background-color:cyan;
}
div {
	  margin-top: 20px;
	}

    
	.image-section {

	  display: flx;
	  justify-content: space-center;
      width: 250px;
    height: 150px;
	}

	.section-style {

	  margin right: 25px;
	  margin left: 25px;
	
		background-color: aquamarine;
	}